<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>headView的缩放效果Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCF51B271C103B5F00A4D969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCF51B401C103B6000A4D969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCF51B4B1C103B6000A4D969</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
